ai_service_identification/temp.jpg
digitisation_pipeline/ocr
digitisation_pipeline/ner-models
digitisation_pipeline/results
digitisation_pipeline/results_debug
digitisation_pipeline/ocr
digitisation_pipeline/ner-models
digitisation_pipeline/__pycache__
herbarium_digitisation/uploads
image_quality_check/imagequality
image_quality_check/.env
image_quality_check/app/__pycache__